*{margin: 0;border: 0;padding: 0}
/*通用*/
a{
    text-decoration: none;
}
li{
    list-style: none;
    text-align: center;
}
.ClearFix{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.wrap{
    background-color: #ffffff;
}
